.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: url(@/2d/assets/img/home/网格bg.png) no-repeat center bottom/100%;
    background-color: #0c2d40;
    user-select: none;
    overflow: hidden;
    .load{
      position:  absolute;
      top: 45%;
      left: 45%;
      width: 100px;
      height: 100px;
      display: flex;
      flex-direction: column;
      color: rgb(55 117 230 / 85%);
      .text-tip{
        position: absolute;
        top:  58%;
        left: 10%;
        font-size: 18px;
      }
    }
  }